@font-face {
    font-family: Sahel;
    src: url('Sahel.eot');
    src: url('Sahel.eot?#iefix') format('embedded-opentype'),
         url('Sahel.woff2') format('woff2'),
         url('Sahel.woff') format('woff'),
         url('Sahel.ttf') format('truetype');
    font-weight: normal;
}

body{
    direction: rtl;
    text-align: right;
    font-family: "Sahel";
}

.axil-slide.slider-style-1 {
    direction: ltr;
}

.post-meta-list{
    direction: rtl;
}

div #my_switcher {
    direction: ltr;
}

a , h1, h2, h3, h4, h5, span{
    font-family: Sahel;
}


.my_switcher ul li a {
    font-size: 1.6rem;
}

h5.title{
    font-family: Sahel;
}

.axil-single-widget.widget_categories ul li.cat-item .inner .content .title{
    margin-right: 10px;
}

.post-content{
    margin-right: 20px;
}

.post-meta{
    direction: rtl;
}

div#axilTabContent{
    direction: ltr;
}

.tab-content{
    direction: ltr;
}

.content-block{
    direction: rtl;
}