{% extends 'panel/base.html' %}
{% block title %}لیست دسته بندی ها{% endblock title %}


{% block content %}

<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">لیست دسته بندی ها</h3>

          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control float-right" placeholder="جستجو">

              <div class="input-group-append">
                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>شماره</th>
                <th>نام</th>
                <th>اسلاگ</th>
                <th>تاریخ</th>
                <th>عملیات</th>
              </tr>
            </thead>
            <tbody>
            {% for category in categories %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td><a href="{% url 'panel:update_category' category.id %}">{{category.title}}</a></td>
                <td>{{category.slug}}</td>
                <td>{{category.jcreated}}</td>
                <td>
                    <a class="badge badge-danger" href="{% url 'panel:delete_category' category.id %}">حذف</a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>

{% endblock content %}
